<!-- Gabriela de Santiago Villa-->
<!-- 4CM1 -->
<!-- Num. Boleta: 2024670104 -->


<!DOCTYPE html>
<html>
<head>
<title>Catálogo de Etiquetas HTML</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">

<h1>Catálogo de Etiquetas HTML</h1>

<p>Selecciona una etiqueta para ver su explicación:</p>

<ul>

<li><a href="/p">Etiqueta p</a></li>
<li><a href="/h1">Etiqueta h1</a></li>
<li><a href="/span">Etiqueta span</a></li>
<li><a href="/strong">Etiqueta strong</a></li>
<li><a href="/em">Etiqueta em</a></li>
<li><a href="/a">Etiqueta a</a></li>
<li><a href="/img">Etiqueta img</a></li>
<li><a href="/ul">Etiqueta ul</a></li>
<li><a href="/ol">Etiqueta ol</a></li>
<li><a href="/li">Etiqueta li</a></li>
<li><a href="/table">Etiqueta table</a></li>
<li><a href="/tr">Etiqueta tr</a></li>
<li><a href="/td">Etiqueta td</a></li>
<li><a href="/th">Etiqueta th</a></li>
<li><a href="/form">Etiqueta form</a></li>
<li><a href="/input">Etiqueta input</a></li>
<li><a href="/label">Etiqueta label</a></li>
<li><a href="/button">Etiqueta button</a></li>
<li><a href="/audio">Etiqueta audio</a></li>
<li><a href="/video">Etiqueta video</a></li>

</ul>

</div>

</body>
</html>